<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=<, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Demo App</h1>
    <p>Thanks for visiting!</p>

    <p>You {% if not is_new %}last{% endif %} visited at {{ obj.created }}</p>
    <p>Your IP address is {{ obj.ip }}</p>

    <p>
      This information is now in our PostgreSQL database. I hope you're creeped
      out! Come back soon.
    </p>
  </body>
</html>
